<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,428},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,428},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,80},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,204},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,130},{18,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{18,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{50,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>coin7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,428},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>hathpace.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,122}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{158,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,126}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>runner0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{128,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{128,94}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,208},{80,118}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{80,118}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,232},{64,116}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{64,116}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{82,114}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{82,114}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{128,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{128,94}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{88,118}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{88,118}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,158},{62,116}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{62,116}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runner7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,290},{82,114}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{82,114}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runnerCrouch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,298},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>runnerJumpDown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,276},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>runnerJumpDown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,98},{108,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{108,122}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>runnerJumpUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,364},{62,110}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,10},{62,110}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runnerJumpUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,298},{68,92}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{68,92}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runnerJumpUp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,428},{74,82}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{74,82}}</string>
                <key>sourceSize</key>
                <string>{132,120}</string>
            </dict>
            <key>runnerJumpUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,130},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>parkour.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4cf0bebd13a7055b96fc19a480f1ebb:1/1$</string>
            <key>textureFileName</key>
            <string>parkour.png</string>
        </dict>
    </dict>
</plist>
